# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.production
.env.vercel.pull

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Vercel
.vercel

# Netlify
.netlify

.env*.local

.cursor/
supabase/.temp/

